<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="main">
        <% if(docs != null) { %>
            <div class="container result <%=docs.id%>">
                <div>
                    <input type="checkbox" id="checkbox" class="<%= docs.id %>">
                    <span class="<%=docs.id%>"><%= docs.name %></span>
                </div>
                <span class="<%=docs.id%>">
                    <%=docs.description%>
                </span>
                <div>
                    <button onclick="editTaskName('<%= docs.id %>')">Edit Name</button>
                    <button onclick="editTaskDesc('<%= docs.id %>')">Edit Desc</button>
                    <button onclick="deleteTask('<%= docs.id %>')">Delete</button>
                </div>
            </div>
            <% } else {%>
                <div class="container result">
                    <h1>You have no tasks</h1>
                </div>
            <%}%>
    </div>
    <script src="../check.js"></script>
</body>
</html>