<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <button onclick="createTask()" class="create">Create Task</button>
    <br>
    <div class="main">
            <div class="container result <%=tasks.id%>">
                <div>
                    <input type="checkbox" id="checkbox" class="<%= tasks.id %>">
                    <span class="<%=tasks.id%>"><%= tasks.name %></span>
                </div>
                <span class="<%=tasks.id%>">
                    <%=tasks.description%>
                </span>
                <div>
                    <button onclick="editTaskName('<%= tasks.id %>')">Edit Name</button>
                    <button onclick="editTaskDesc('<%= tasks.id %>')">Edit Desc</button>
                    <button onclick="deleteTask('<%= tasks.id %>')">Delete</button>
                </div>
            </div>
    </div>
    <script src="../check.js"></script>
</body>
</html>